<header>
<h1>Adrienne Love's Ambitious Ladybug 🐞 WEB250</h1>

<nav>
   <ul>
	<li><a href="index.html">Home</a>&nbsp;</li>
	<li><a href="introduction.html">Introduction</a>&nbsp;</li>
	<li><a href="contract.html">Contract</a>&nbsp;</li>
	<li><a href="http://alove.great-site.net">PHP Site</a></li>
	<li>
		<ul class="dropdown">
                   <a href="/multipage_sites/superduper_php/">Super Duper PHP</a>
                   <a href="/multipage_sites/superduper_static">Super Duper Static</a>
                   <a href="joy/">Joy of PHP</a>
		</ul>
	</li>
   </ul>
</nav>
</header>
