<header>
	<h1>Adrienne Love's Ambitious Ladybug 🐞 WEB250</h1>
		<nav>
			<a href="index.html">Home</a>&nbsp;
			<a href="introduction.html">Introduction</a>&nbsp;
			<a href="contract.html">Contract</a>&nbsp;
	<li>
    		<a href="#">Multipage &#x25BE;</a>
			<ul class="dropdown">
				<li><a href="/multipage_sites/superduper_php/">Super Duper PHP</a></li>
				<li><a href="/multipage_sites/superduper_static">Super Duper Static</a></li>
				<li><a href="joy/">Joy of PHP</a></li>
			</ul>
	</li>
		</nav>
</header>
