header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 20px;
    background-color: var(--primary-bg); /* Ensure it has the same background as body */
    max-width: 100%; /* Make the header span the full width */
}

body {
    background-image: url("images/ladybug2.jpg");
    background-color: #65FF00;
}

nav {
    font-size: 1.5625rem;
    text-align: center;
    box-shadow: 0 0 5px 3px #FF0065;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px; /* Add some spacing from other elements */
    background-color: var(--primary-color); /* Make it stand out */
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between navigation links */
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-color);
    padding: 5px 10px; /* Add padding to highlight hover state */
    border-radius: 5px;
}
